<footer>
  <div class="container">
    <div class="threecol">
      <div class="about">
        <p class="title">About Us</p>
        {{ site.about_blurb }}
      </div>
      <div class="contact">
        <p class="title">Get in Touch</p>
        <table>
          <tbody>
            <tr>
              <th>Address:</th>
              <td>{{ site.physical_address | newline_to_br }} </td>
            </tr>
            <tr>
              <th>E-Mail:</th>
              <td>{{ site.contact_email }} </td>
            </tr>
            <tr>
              <th>Social:</th>
              <td>
                <a href="https://twitter.com/OSGroupSWS"
                  class="social-button social-twitter">Twitter</a>
                  <a href="https://www.youtube.com/@MPI-SWSOSGroup"
                  class="social-button social-youtube">Youtube</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="sws">
        <p class="title"></p>
        <div class="swslogo">
          <a href="https://www.mpi-sws.org">
            <img class="mpi-logo" src="/assets/images/mpi-sws-lamp.svg">
          </a>
        </div>
        <div class="legal">
          <a href="https://imprint.mpi-klsb.mpg.de/sws/os.mpi-sws.org">
            Imprint</a>
          <a href="https://data-protection.mpi-klsb.mpg.de/sws/os.mpi-sws.org">
            Data Protection</a>
        </div>
      </div>
    </div>
  </div>
</footer>