<header id="mainheader">
  <nav id="navbar">
    <div class="navcontainer">
    <a class="brand" href="{{ site.baseurl }}/">OS Group</a>

    <button id="navbutton">=</button>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#navbutton').click(function(){
          $('ul.l1').toggleClass("l1-active");
        });
      });
    </script>

    <ul class="l1">
      {% for p in site.data.navigation.nav %}
      {%- if page.permalink == p.link -%}
      <li class="current">
      {%- else %}
      <li>
      {%- endif %}
        <a href="{{ site.baseurl }}{{ p.link }}">{{ p.title }}</a>
      </li>
      {% endfor %}
    </ul>
    </div>
  </nav>
</header>