body.about {
  header.page-header {
    margin-bottom: 0px;
    div.container {
      div.logo {
        img {
          width: 0.75 * 400px;
          max-width: 100%;
          max-height: 0.75 * 400px;
        }
      }
    }
  }
  section.research {
    @include sec-green;

    div.container {
      display: flex;

      div.research-text {
        width: 60%;
      }
      div.research-figure {
        width: 40%;
        display: flex;
        justify-content: center;
        vertical-align: middle;

        img {
          width: 100%;
          max-width: 400px;
        }
      }


      @include media-mobile {
        display: block;
        div.research-text, div.research-figure {
          width: inherit;
        }
      }
    }
  }
  section.news {
    @include sec-white;

    div.news-slider {
      margin-left: 50px;
      margin-right: 50px;
    }

    button.slick-arrow {
      position: absolute;
      top: 30%;
      font-size: 2.5rem;
      cursor: pointer;
      background: none;
      border: none;
    }

    button.slick-disabled {
      color: $col-os-grey;
      cursor: default;
    }

    button.news-prev {
      left: -48px;
    }

    button.news-next {
      right: -48px;
    }
  }
  section.bottom {
    @include sec-green;
    div.container {
      height: 400px;
      text-align: center;
      position: relative;

      div.slideshow-slider-wrapper {
        position: relative;
        max-width: 700px;
        margin: 0 auto;
      }

      button.slick-arrow {
        position: absolute;
        top: 50%;
        font-size: 2.5rem;
        cursor: pointer;
        background: none;
        border: none;
        color: white;

        @include media-mobile {
          display: none !important;
        }
      }

      button.slick-disabled {
        color: $col-os-grey;
        cursor: default;
      }

      button.news-prev {
        left: -48px;
      }

      button.news-next {
        right: -48px;
      }

      img.slideshow {
        margin-top: 20px;
        max-width: 100%;
      }
    }
  }

  div#footer-divider {
    background-color: white;
    height: 170px;
  }
}