$col-os-grey: hsl(90, 1%, 32%) !default;
$col-os-green: hsl(58, 50%, 51%) !default;
$col-os-orange: hsl(23, 85%, 62%) !default;
$col-os-purple: hsl(290, 30%, 44%) !default;
$col-os-teal: hsl(173, 55%, 55%) !default;
$col-os-pink: hsl(341, 61%, 64%) !default;

$font-title: 'Exo 2', sans-serif;
$font-main: 'Alegreya Sans', sans-serif;
$font-fa: 'Font Awesome 6 Free';
$font-fab: 'Font Awesome 6 Brands';

html {
  background-color: white;
}

body {
  font-family: $font-main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

h1 {
  font-size: 2rem;
  font-family: $font-title;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

a, a:visited, a:hover, a:active {
  color: $col-os-green;
  text-decoration: none;
  font-weight: bold;
}

@mixin sec-green {
  background-color: $col-os-green;
  color: white;
}

@mixin sec-white {
  background-color: white;
}

@mixin sec-grey {
  background-color: $col-os-grey;
  color: white;
}

section {
  @include sec-white;
}

header#mainheader:before {
  background-color: $col-os-grey;
}

nav#navbar {
  background-color: $col-os-green;
  color: white;

  div.navcontainer {
    border-bottom: 1px white solid;

    a, a:visited, a:hover, a:active {
      color: inherit;
      font-weight: normal;
    }

    a.brand {
      font-size: 1.8rem;
      font-family: $font-title;
    }

    button#navbutton {
      background-color: white;
      color: $col-os-green;
      border: none;
      border-radius: 50%;
      font-size: 30px;
      cursor: pointer;
    }

    ul.l1 {
      li {
        font-weight: 400;
      }

      li.current {
        a, a:visited, a:hover, a:active {
          font-weight: 800;
        }
      }
    }
  }
}


header.page-header {
  @include sec-grey;
  div.container {
    div.text {
      p.subtitle {
        font-family: $font-title;
        font-size: 2rem;
      }
      h1 {
        color: $col-os-green;
        font-size: 2rem;
        font-weight: bolder;
      }
      div.description {
        font-size: 1.2rem;
      }
    }
  }
}


div.titlebar {
  background-color: $col-os-green;
  color: white;
  div.container {
    h2 {
      font-weight: normal;
      font-size: 2rem;
    }
  }
}



footer {
  @include sec-grey;
  div.threecol {
    div.about, div.contact, div.sws {
      p.title {
        font-family: $font-title;
        font-size: 1.3rem;
      }

      p.title:after {
        background-color: white;
      }
    }

    div.contact {
      text-align: left;
      table {
        td, th {
          font-weight: normal;

          a.social-button, a.social-button:active, {
            text-decoration: none;
            font-size: 0;
          }

          a.social-button::before, a.social-button:active::before {
            font-size: 12pt;
            color: white;
            padding: 0rem 0.3rem;
            visibility: visible;
            text-align: center;
            font-family: $font-fab;
            font-weight: bold;
            text-decoration: none;
          }

          a.social-twitter::before, a.social-twitter:active::before {
            content: "\e61b";
          }
          a.social-youtube::before, a.social-youtube:active::before {
            content: "\f167";
          }
        }
      }
    }

    div.sws {
      a, a:visited, a:hover, a:active {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

footer:after {
  @include sec-green;
}


/* a few design changes for mobile too */
@include media-mobile {
  nav#navbar {
    div.navcontainer {
      ul.l1 {
        color: $col-os-grey;
        background-color: white;
        font-size: 1.5em;

        li {
          line-height: 1.5;
        }
      }
    }
  }
}