$width: 850px;
$max-page-width: 1200px;

section, header, footer {
  max-width: $max-page-width;
  margin: 0 auto;
}


header#mainheader:before {
  content: " ";
  display: block;
  height: 35px;
  width: 100%;
}

nav#navbar {
  margin: 0px;
  padding: 5px;

  div.navcontainer {
    width: $width;
    margin: 0px auto;
    padding: 5px;

    button#navbutton {
      display: none;
    }

    ul.l1 {
      float: right;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        padding: 0rem 1rem;
        line-height: 2;
      }
    }
  }
}


header.page-header {
  margin-bottom: 40px;
  div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    min-height: 330px;

    div.logo {
      float: left;
      max-width: 400px;
      text-align: center;
      img {
        width: 250px;
        max-width: 100%;
        max-height: 250px;
      }
    }

    div.text {
      width: 450px;
      min-height: 240px;
      margin-left: 0px;
      padding-top: 35px;
      p {
        margin: 0;
      }
      h1 {
        margin: 0.5rem 0rem;
      }
      div.description {
        margin-top: 10px;
      }
    }
  }
  div.clear {
    clear: both;
  }
}

div.container {
  width: $width;
  margin: 0px auto;
  padding: 40px 0px;
}

div.banner {
  img {
    width: 100%;
  }
}

div.titlebar {
  div.container {
    padding: 8px 0px;
    h2 {
      margin: 0px;
    }
  }
}



footer {
  div.threecol {
    display: flex;
    flex-direction: row;

    div.about, div.contact, div.sws {
      width: calc($width / 3);
      padding: 0px 10px;
      position: relative;

      p.title {
        margin: .75em 0em;
        display: block;
      }

      p.title:after {
        content: " ";
        display: block;

        position: absolute;
        top: 30px;
        right: 40px;

        width: 100px;
        height: 1px;
      }
    }

    div.contact {
      text-align: left;
      table {
        td, th {
          vertical-align: top;
          padding: 0px;
          padding-bottom: 10px;
        }
        th {
          padding-right: 15px;
        }
      }
    }

    div.sws {
      text-align: center;

      p.title:after {
        width: 200px;
      }

      div.swslogo {
        margin-top: 60px;
        margin-bottom: 15px;
        img {
          width: 90px;
        }
      }
      a, a:visited, a:hover, a:active {
        padding: 0rem 1rem;
      }
    }
  }
}

footer:after {
  content: " ";
  display: block;
  height: 40px;
}



/* changes for mobile layout */
@include media-mobile {
  nav#navbar {
    border-bottom: none;

    div.navcontainer {
      width: 100%;
      padding-left: 15px;

      button#navbutton {
        display: block;
        position: absolute;
        right: 15px;
        top: 40px;
        width: 40px;
        height: 40px;
      }
      ul.l1 {
        display: none;
        width: 100%;
        margin: 0;
        padding: 15px;

        li {
          width: 100%;
          text-align: right;
          display: block;
        }
      }
      ul.l1-active {
        display: block;
        position: absolute;
        left: 0px;
        top: 88px;
      }
    }
  }

  div.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  header.page-header {
    div.container {
      text-align: center;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 0px;
      height: auto;
    }
  }

  footer {
    div.threecol {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  div.titlebar {
    div.container {
      padding: 8px;
    }
  }
}