---
body_class: about
layout: base
---
<article class="about">
<section class="research">
  <div class="container">
    <div class="research-text">
      <h2>Our Research</h2>
      {{content}}
    </div>
    <div class="research-figure">
      <img src="assets/images/research-areas.svg">
    </div>
  </div>
</section>
<section class="news">
  <div class="container">
    <h2>News</h2>
    <div class="news-slider-wrapper">
      <div class="news-slider">
        {% for n in site.data.news.news %}
        <div class="news-item">
          <h3>{{ n.date }}</h3>
          {{ n.text | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.news-slider').slick({
          infinite: false,
          slidesToShow: 3,
          slidesToScroll: 1,
          prevArrow: '<button type="button" class="news-prev">&lt;</button>',
          nextArrow: '<button type="button" class="news-next">&gt;</button>',
          responsive: [
            {
              breakpoint: 850,
              settings: { slidesToShow: 2, },
            },
            {
              breakpoint: 750,
              settings: { slidesToShow: 1, },
            }
          ],
        });
      });
    </script>
  </div>
</section>
<section class="bottom">
  <div class="container">
    <div class="slideshow-slider-wrapper">
      <div class="slideshow-slider">
        <div class="slideshow-item">
          <img class="slideshow" src="assets/images/group/slideshow_1.jpg">
        </div>
        <div class="slideshow-item">
          <img class="slideshow" data-lazy="assets/images/group/slideshow_2.jpg">
        </div>
        <div class="slideshow-item">
          <img class="slideshow" data-lazy="assets/images/group/slideshow_3.jpg">
        </div>
        <div class="slideshow-item">
          <img class="slideshow" data-lazy="assets/images/group/slideshow_4.jpg">
        </div>
        <div class="slideshow-item">
          <img class="slideshow" data-lazy="assets/images/group/slideshow_5.jpg">
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.slideshow-slider').slick({
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 3000,
          pauseOnFocus: false,
          prevArrow: '<button type="button" class="news-prev">&lt;</button>',
          nextArrow: '<button type="button" class="news-next">&gt;</button>',
        });
      });
    </script>
  </div>
</section>
<div id="footer-divider"></div>
</article>