<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>
      {%- if page.no_page_title -%}
        {{ site.title }}
      {%- else -%}
        {{ page.title }} - {{ site.title }}
      {%- endif -%}
    </title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="{{ "/assets/js/jquery-3.7.0.min.js" | relative_url }}">
    </script>
    <script src="{{ "/assets/js/slick.min.js" | relative_url }}"></script>
    <meta name="google-site-verification" content="F9EKuzBHUT4495CzU4dZEUy_ZzOFdJva6gKeGCRnJs0" />
  </head>
  <body
      {%- if layout.body_class %}
        class="{{ layout.body_class }}"
      {%- endif %}>
    {%- include header.html %}

    <header class="page-header">
      <div class="container">
      {%- if page.logo -%}
      <div class="logo">
        <img src="/assets/images/{{ page.logo }}">
      </div>
      {%- endif -%}
      <div class="text">
        <p class="subtitle">{{page.subtitle}}</p>
        <h1>{{page.title}}</h1>
        <div class="description">
          {{page.description | markdownify}}
        </div>
      </div>
      </div>
      <div class="clear"></div>
      {%- if page.banner -%}
      <div class="banner">
        <img src="assets/images/{{ page.banner }}">
      </div>
      {%- endif -%}
    </header>
    {{ content }}
    {%- include footer.html %}
  </body>
</html>
